body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 0;
  }
  
  .post {
    align-items: center;
    justify-content: center;
    background-color: white;
    /*Con esto ajusto el anchp del post, pongo el máximo y luego al 100% La altura es automatica para mantener proporciones*/
    max-width: 500px; 
    width: 100%; 
    height: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .fa-brands {
    padding: 0px 10px 0px 20px;
    font-size: 35px;
  }
  
  .header .fa-solid {
    padding-right: 20px;
    font-size: 30px;
    margin-left: auto;
  }
  
  .image img {
    max-width: 100%;
    /*Con esto mantengo las proporciones de la imagen*/
    height: auto; 
    /*Con esto la img se ajusta al contenedor*/
    width: 100%; 
    object-fit: cover;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 5px 10px;
    font-size: 20px;
  }
  
  .icons i:nth-child(-n + 3) {
    /*Con -n+3 selecciono los tres primeros iconos y les añado un espacio entre si con el margin*/
    margin-right: 10px; 
  }
  
  .icons i:last-child {
    margin-left: auto;
    padding-right: 10px;
  }
  
  .likesAndComment {
    padding: 0px 5px 3px 15px;
    margin: 3px;
  }
  